.about {
  background-color: #FFC5D4;
  padding: 60px 20px;
  text-align: center;
}

.about-container {
  max-width: 900px;
  margin: 0 auto;
  
}

h2 {
  font-family: 'Space Mono', monospace;
  font-size: 30px;
  color: #9D8189;
  margin-bottom: 20px;
}

p {
  font-family: 'More Sugar', sans-serif;
  font-size: 18px;
  color: #9D8189;
  line-height: 1.6;
  max-width: 800px;
  margin: 0 auto;
}
